* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0b0a0a, #3b4452);
  }
  
  .calculator {
    border: 1px solid #727377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(115, 116, 119, 0.5);
    width: 100%; /* Set calculator width to 100% */
    max-width: 400px; /* Limit maximum calculator width */
  }
  
  input {
    width: 100%;
    border: none;
    padding: 20px;
    margin: 10px 0;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 4vw;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
  }
  
  input::placeholder {
    color: #ffffff;
  }
  
  button {
    border: none;
    width: 23%;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 30px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .equalBtn {
    background-color: #d76b12;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .operator {
    color: #6df604;
    font-size: 30px;
  }
  
  @media (max-width: 600px) {
    .calculator {
      padding: 15px;
      max-width: 300px; /* Adjust maximum calculator width for smaller screens */
    }
  
    input {
      font-size: 8vw;
      padding: 10px;
    }
  
    button {
      font-size: 8vw;
      padding: 8px;
      margin: 3px;
    }
  }
  